/* styles.css */

/* General Styles */
body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 51, 102, 0.9));
    color: #ffffff;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Header Styles */
h1 {
    font-size: 3em;
    margin: 0.5em 0;
    color: #00ccff;
}

/* User Info Styles */
#user-info {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 2em auto;
    padding: 2em;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: left;
}

#user-info img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#user-info p {
    font-size: 1.2em;
}

#user-info form {
    text-align: center;
    margin-top: 1em;
}

#user-info button {
    background: #00ccff;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 0.5em 2em;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

#user-info button:hover {
    background: #0099cc;
}

/* Search Form Styles */
form[action="/find_user"] {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 2em auto;
    padding: 2em;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form input[type="text"] {
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    margin: 1em 0;
    width: 80%;
    max-width: 300px;
    font-size: 1em;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

form input[type="submit"] {
    background: #00ccff;
    border: none;
    border-radius: 5px;
    color: #000000;
    padding: 0.5em 2em;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
}

form input[type="submit"]:hover {
    background: #0099cc;
}

/* Links */
a {
    color: #00ccff;
    text-decoration: none;
    margin: 0.5em 0;
    display: block;
    font-size: 1.2em;
}

a:hover {
    color: #0099cc;
}

/* Posts Container Styles */
#posts-container {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    margin: 2em auto;
    padding: 2em;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.post {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: hidden; /* Ensure content doesn't overflow */
}

/* Post title styles */
.post-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Post message styles */
.post-message {
    color: #666;
    margin-bottom: 15px;
}

/* Post image styles */
.post img {
    display: block;
    width: 100%; /* Ensure image takes full width of its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: Add border radius to images */
    margin-bottom: 10px;
}
